* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f0f6;
}

.container {
    background-color: #fff !important;
    border-radius: 10px;
}

.contenedor-title {
    margin-left: .1rem;
}

.outline-secondary,
.item-tarea {
    
    border-radius: 5px;
    line-height: 2rem;
    background-color: #f1f0f6;
}

input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

ul {
    list-style: none;
    padding-left:0 ;
}

.bg-primary {
    background-color: #2d04df !important;
}

.text-primary {
    color: #2c04df7a !important;
    text-decoration: line-through;
}

.item-tarea {
    position: relative;
}

.item-tarea .id {
    opacity: .5;
    padding: 0 10px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 10px !important;
    border-radius: 50%;
    accent-color: #2d04df; /* Cambia el color del check (moderno y fácil) */
    cursor: pointer;
}

.btn-eliminar {
    opacity: .5;
}

.btn-eliminar:hover{
    opacity: 1;
}

.bg-opacity-1 {
    opacity: 1;
}

.bg-opacity-05 {
    opacity: .4;
}